
@{
    ViewBag.Title = "AddFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

    <form method="post">
        <br />
        <br />
        <label>Başlık</label>
        <input type="text" name="Title" class="form-control" />
        <br />
        <br />
        <label>İçerik</label>
        <input type="text" name="Content" class="form-control" />
        <br />
        <br />
  
        <button class="btn btn-primary">Kaydet</button>

    </form>


