@model List<MyELearningProject.DAL.Entities.Course>
@{
    int i = 0;
}

        <div class="tab-pane" id="profile" role="tabpanel">
            <div class="card-block">
                <h4 class="card-title">Kurs Listesi</h4>
               
                <div class="table-responsive">
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr class="table-light">
                                <th>#</th>
                                <th>Kurs Adı</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr class="table-warning">
                                    @{
                                        i++;
                                    }
                                    <td>@i</td>
                                    <td>@item.Title</td>

                                </tr>
                                        }

                            </tbody>
                    </table>
                </div>
            </div>

        </div>