
@{
    ViewBag.Title = "YorumYap";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


<div class="content-form">

    <form method="post">

        <input type="hidden" id="CourseID" placeholder="" name="CourseID" value="@ViewBag.CourseId" required />

        <input type="hidden" id="StudentID" placeholder="" name="StudentID" value="@ViewBag.StudentID" required />

        <input type="hidden" id="CommentDate" placeholder="" name="CommentDate" value="@DateTime.Now.ToShortTimeString()" required />

        <textarea id="CommentText" placeholder="Yorum" name="CommentText"></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>

