<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <style>
        body {
            background-image: url('/Templates/material-lite-master/assets/images/background/login.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <link href="~/Templates/material-lite-master/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <br />
        <h3 class="font-monospace">Giriş Sayfası</h3>
        <br />

        <button type="button" class="btn btn-outline-dark"><a style="text-decoration: none; color: white" href="/login/StudentLogin/">Öğrenci Girişi</astyle=""></button>

        <button type="button" class="btn btn-outline-dark"><a style="text-decoration: none; color: white " href="/login/InstructorLogin/">Eğitmen Girişi</a></button>

        <button type="button" class="btn btn-outline-dark"><a style="text-decoration: none;color:white" href="/login/MasterLogin/">Yönetici Girişi Girişi</a></button>

    </div>
</body>
</html>