@model MyELearningProject.DAL.Entities.Video
@{
    ViewBag.Title = "VideoEkle";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}


<h2>Yeni Video Ekleme</h2>

<form method="post">
    <label>Lütfen eklemek istediğiniz embed(source) kaynağını giriniz.(Youtube,DailyMotion)</label>
    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
    <br /><br />
    @Html.DropDownListFor(x => x.CourseID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })

    <br /><br />

    <button class="btn btn-primary">Kaydet</button>

</form>