@model List<MyELearningProject.DAL.Entities.Video> 
@{
    ViewBag.Title = "KursVideos";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}
@{
    int i = 0;

}

<h2>KursVideos</h2>

<div class="row">

    <div class="col-8">
        <table class="table-light">


            <tr class="table-active">
                <th>#</th>
                <th style="text-align:center">Video</th>
                <th>Sil</th>

            </tr>
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@(i)</td>
                    <td><iframe width="560" height="315" src="@item.Url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
                    <td><a href="/Video/VideoSil/@item.VideoID/" class="btn btn-warning">Sil</a></td>

                </tr>
            }


        </table>
    </div>
    

    <div class="col-4">

           <a href="/Video/VideoEkle/" role="button" class="btn btn-outline-info">Derse Video Ekleyiniz</a>

    </div>

</div>